<div class="navigation">
    <input type="checkbox" class="navigation_checkbox" id="nav-toggle">
    <label for="nav-toggle" class="navigation_button">
      <span class="navigation_icon" aria-label="toggle navigation menu"></span>
    </label>
    <div class="navigation_background"></div>
    <nav class="navigation_nav" role="navigation">
      <ul class="navigation_list">
        <li class="navigation_item">
          <a href="/home" class="navigation_link">Home</a>
        </li>
        <li class="navigation_item">
          <a href="#" class="navigation_link">About</a>
        </li>
        <li class="navigation_item">
          <a href="#" class="navigation_link">Contact</a>
        </li>
  </ul>
</nav>

</div>