<div class="row">
    <div class="details"> 
        <div class="row">
            <div class="col-md-6">     
                <input type="text" #bookId hidden [value]='bookId'>
                <img [src]='cover' class="bookCover">
            </div>
            <div class="col-md-6">
                <h3 class="bookTitle">{{title}}</h3>                
                <div class="bookPrice col-md-6">{{price | currency:'INR'}}</div>
                <div class="description"><p>{{description}}</p></div>
                <div class="btnRow">
                    <button class="btnBuy btn btn-success">BUY</button>
                </div>
            </div>
        </div> 
    </div>
</div>